*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{height:100%;}
.container{
	min-height:100%;
	display:flex;
	flex-direction:column;
}
body{
	background-color:#F6F6F7;
    height:100%;
}
body::-webkit-scrollbar{
	width:10px;
}
  body::-webkit-scrollbar-track {
	background: #EDEEF0;    
  }
  body::-webkit-scrollbar-thumb {
	background-color: black;   
	border: 2px solid #EDEEF0;
  }

.wraper {
	display: flex;
	flex-direction: column;
	min-height: 90%;
}
content {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

/*-----------------------------------*/
/* header */
header{
    background-color:white;
}
.settings-container{
	padding-right:20%;
	min-width: 68%;
	min-height: 30px;
	float:right;
	background-color:#EDEEF0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#settings-el-1{
	transition-duration: 0.2s;
	margin-left: 40px;
	font-family: monospace;
	color: #ABAFB5;
}
#settings-el-1:hover{
	transition-duration: 0.2s;
	color:black;
}
#settings-el-2{
	transition-duration: 0.2s;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	margin-right: 40px;
	text-decoration: underline;
}
#settings-el-2:hover{
	transition-duration: 0.2s;
	color:#EA002B;
	text-decoration: none;
}
#settings-el-3{
	transition-duration: 0.2s;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
}
#settings-el-3:hover{
	transition-duration: 0.2s;
	color:#EA002B;
}
.level2{
	height:80px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.logo img{
    width: 220px;
	padding-bottom: 25px;
}
.search{
	width: 50%;
}
.search form{
	position: relative;
	display: inline;
}
.search input{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	padding:10px;
	width: 100%;
	background-color:#F2F2F2;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
}
.search button{
	position:absolute;
	width:40px;
	height:40px;
	top:-15px;
	right: 5px;
	background-color:#F2F2F2;
}
#lupa{
	width: 25px;
	height: 25px;
}
.basket img{
	width: 25px;
}
.enter-to-the-club button{
	color:white;
	font-size: 14px;
	font-weight: bold;
	font-family: monospace;
	padding: 12px 20px;
	background: rgb(234,0,44);
	background: linear-gradient(142deg, rgba(234,0,44,1) 0%, rgba(247,90,31,1) 86%, rgba(243,125,35,1) 100%);
	border-radius: 2px;
}
.enter-to-the-club button:hover{
	background: rgb(243,125,35);
	background: linear-gradient(142deg, rgba(243,125,35,1) 0%, rgba(247,90,31,1) 50%, rgba(234,0,44,1) 100%);
}
.bottom-header{
    background-color: black;
   
	-webkit-box-shadow: 0px 4px 53px 7px rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0px 4px 53px 7px rgba(34, 60, 80, 0.18);
	box-shadow: 0px 4px 53px 7px rgba(34, 60, 80, 0.18);

}
.all-weapons{
	height: 47px;
	margin-right: 20%;
	margin-left: 20%;
	display: flex;
	justify-content:space-between;
	flex-direction: row;
	align-items:center;
}
.all-weapons a{
	flex-grow: 0;
	white-space: nowrap;
	position:relative;
	color:white;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
}
.all-weapons :last-child{
	color:#EA002B;
	text-decoration: underline;
}
.all-weapons :last-child:hover{
	text-decoration: none;
}
.all-weapons a:before{
	position: absolute;
	display: block;
	content: "";
	height:4px;
	width:100%;
	float:left;
	background-color:#EA002B;
	margin:auto;
	bottom:-15px;
	transition-duration: 0.5s;
	transform:scale(0);
}
.all-weapons a:hover:before{
	transition-duration: 0.5s;
	transform:scale(1);
}
.all-weapons a:last-child:before{
	transform:scale(0);
}
.top-header{
    background-color: white;
}
/* footer */

footer{
    background-color:black;
}

.top-footer, .bottom-footer{
    padding-right: 20%;
    padding-left: 20%;
}

.entrance-to-main-links a, .entrance-to-RSHW p, #link-RSHW a{
    transition-duration: 0.3s;
    color: white;
    font-family: monospace;
}

.entrance-to-main-links, .entrance-to-RSHW p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.entrance-to-main-links a{
    margin-right: 15px;
    font-size: 16px;
}

.entrance-to-main-links a:hover, #link-RSHW a:hover{
    transition-duration: 0.3s;
    color: #EA002B;
}

/* weaponsChanger */
.list-of-weapons {
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	margin-top: 100px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.list-of-weapons a{
	padding:10px 0px;
	transition-duration: 0.5s;
	font-size: 25px;
	font-family: monospace;
	font-weight: bold;
	color:black;
	text-decoration: none;
}

.list-of-weapons a:hover{
	transition-duration: 0.5s;
	color:#EA002B;
}