<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="settings-container">
                <a id="settings-el-1" href="#">Калашников Клуб</a>
                <div class="settings-douter">
                    <a id="settings-el-2" href="#">Москва и Московская область</a>
                    <a id="settings-el-3" href="#">Привилегии Калашников Клуба</a> 
                </div>
            </div>
            <div class="level2">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/AKlogo.png') }}">
                </div>
                <div class="search">
                    <form action="" method="get">
                        <input type="search" name="search" placeholder="Поиск">
                        <button type="submit"><img id="lupa" src="{{ url_for('static', filename='img/lupa.png')}}" alt="#"></button>
                    </form>
                </div>
                <div class="basket">
                    <img src="https://kalashnikov.market/img/cart.svg" alt="">
                </div>  
                <div class="enter-to-the-club">
                    <button>ВОЙТИ В КЛУБ</button>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="all-weapons">
                <a href="#"></a>
                <a href="#">Пневматические винтовки</a>
                <a href="#">Нарезное</a>
                <a href="#">Травматическое</a>
                <a href="#">Гладкоствольное</a>
                <a href="#">Пневматические пистолеты</a>
                <a href="#">Патроны гладкоствольные</a>
                <a href="#">Акции</a>
            </div>
        </div>
    </header>
    <div class="wraper">
        <content>
            {% block content %}{% endblock %}
        </content>
        <footer>
            <div class="top-footer">
                <div class="entrance-to-RSHW">
                    <p>© 2022, <span id="link-RSHW"><a href="https://business.kalashnikov.market/">ООО «Русское Стрелковое Оружие»</a><span></p>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="entrance-to-main-links">
                    <a href="#">Пользовательское соглашение</a>
                    <a href="#">Политика конфиденциальности</a>
                    <a href="#">Адреса магазинов</a>
                    <a href="#">Помощь и поддержка</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>